@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600;700&display=swap");
body {
  background-color: #000000 !important; }

body {
  font-family: 'Rajdhani', sans-serif; }
  body h1, body h2, body h3, body h4, body h5 {
    font-family: 'Rajdhani', sans-serif; }
  body h1, body h2, body h3 {
    font-weight: 600; }

header div.nav-wrapper {
  background-color: #000000;
  color: #FFFFFF; }
  header div.nav-wrapper nav.navbar div#navbarNav ul.navbar-nav li.nav-item {
    color: #FFFFFF; }
  header div.nav-wrapper nav.navbar #hs_cos_wrapper_custom-nav {
    display: flex;
    flex-grow: 1; }

div.headline-container h1, div.headline-container h3 {
  color: #FFFFFF; }

div.headline-container img.store-icon.google {
  max-width: 155px; }

div.app-example-container {
  color: #000000; }
  div.app-example-container img.app-example-image {
    max-height: 600px; }

footer.footer {
  background-color: #000000; }
  footer.footer img.footer-logo {
    max-height: 200px;
    height: 200px; }
  footer.footer h3 {
    color: #FFFFFF; }
  footer.footer div.rbt-container {
    background-color: #F9E9A7;
    border-radius: 10px; }
