<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  <div class="d-flex flex-column flex-md-row justify-content-around container p-5">
    <div>
      <img src="https://outdoorcommunityproject.com/hubfs/Original%20Logo.svg" class="img-fluid footer-logo" />
    </div>
    <div class="align-self-center align-self-md-end mb-3">
      <h3>was developed by</h3>
    </div>
    <div class="rbt-container">
      <a href="https://www.linkedin.com/in/chad-j-laflamme/" target="_blank">
        <img src="https://outdoorcommunityproject.com/hubfs/Red%20Beard%20Technologies_transparent-crop.png" class="img-fluid footer-logo" />
      </a>
    </div>
  </div>
</footer>
