<!--
  templateType: global_partial
  label: Footer
-->
<footer class="footer">
  <div class="d-flex flex-column justify-content-center align-items-center container p-4 p-md-5">
    <div class="align-self-center mb-3">
      <h3>Developed by</h3>
    </div>
    <div class="rbt-container">
      <a href="https://www.linkedin.com/in/chad-j-laflamme/" target="_blank">
        <img src="https://outdoorcommunityproject.com/hubfs/rbtnewTransparent.png" class="img-fluid footer-logo" />
      </a>
    </div>
  </div>
</footer>
