<!--
  templateType: global_partial
  label: Website header
-->
<header class="header">

  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

  <a href="#main-content" class="header__skip">Skip to content</a>
  <div class="nav-wrapper">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <div class="navbar-brand">
          {% module "logo" path="@hubspot/logo" %}
        </div>
        {% module 'custom-nav' path='../../modules/custom-nav.module' %}
      </div>
    </nav>
  </div>

</header>
