<!--
  templateType: global_partial
  label: Website header
-->
<header class="header">

  {# The link below is used for a navigation skipper which allows users navigating the site with their keyboard to skip over the site navigation. More information on the navigation skipper can be found here: https://github.com/HubSpot/cms-theme-boilerplate/wiki/Accessibility #}

  <a href="#main-content-1" class="header__skip">Skip to content</a>
  <div class="nav-wrapper fixed-top">
    <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
      <div class="container-fluid">
        <div class="navbar-brand flex-grow-1">
          {% module "logo" path="@hubspot/logo" %}
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          {% module 'custom-nav' path='../../modules/custom-nav.module' %}
        </div>
      </div>
    </nav>
  </div>

</header>
