div.body-container--blog-post {
  background-color: $white;
  margin-top: 130px;
}

div.body-container--blog-index {
  margin-top: 130px;
}

body {
  div.body-container.body-container--blog-index.custom-ocp {
    section.hs-blog-post-listing.hs-blog-post-listing--grid {
      article.hs-blog-post-listing__post {
        padding: 20px;
        margin-right: 0 !important;

        a.hs-blog-post-listing__post-button {
          background-color: $dark-blue;
        }

        a.hs-blog-post-listing__post-author-name,
        a.hs-blog-post-listing__post-title-link {
          color: $blue;
        }
      }
    }
  }
}