$black: #000000;
$white: #FFFFFF;

$light-purple: #E834C2;
$purple: #AE1FDD;
$dark-purpole: #8F1EE0;

$light-blue: #1A8EE5;
$blue: #0D54D1;
$dark-blue: #0836B7;

$yellow-tan:#F9E9A7;
$yellow: #F9E47D;
$yellow-orange: #F4B608;

$orange: #f75C06;
$red:#C10E05;