<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Boilerplate - blog listing
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% set template_css = "../../css/templates/blog.css" %}
{% extends "./layouts/base.html" %}

{% block body %}
{% dnd_area "dnd_area"
  label="Main section",
  class="body-container body-container--blog-index p-0 custom-ocp"
%}

  {# Hero banner #}

  {% dnd_section
    background_color="#000000",
    padding={
      "default": {
        "top": 0,
        "right": 0,
        "bottom": 80,
        "left": 0
      },
      "mobile": {
        "top": 80,
        "right": 20,
        "bottom": 80,
        "left": 20
      }
    }
  %}
    {% dnd_column %}
      {% dnd_row %}
      {% dnd_module path='../modules/headline.module', 
      title="Outdoor Community Project",
      subtitle="Find Your Community",
      image={
        'alt': 'OCP Logo',
        'src': 'https://outdoorcommunityproject.com/hubfs/Original%20Logo%20Symbol.png'
      },
      icon1={
        'alt': 'Apple Store Icon',
        'src': 'https://outdoorcommunityproject.com/hubfs/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg'
      },
      icon2={
        'alt': 'Google Play Icon',
        'src': 'https://outdoorcommunityproject.com/hubfs/google-play-badge-1.png'
      }
    %}{% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module
          path="@hubspot/blog_subscribe",
          title=""
        %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

  {# Blog listings and pagination #}

  {% dnd_section
    vertical_alignment="TOP"
  %}
    {% dnd_column %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/blog_listing" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
      {% dnd_row %}
        {% dnd_module path="@hubspot/pagination" %}
        {% end_dnd_module %}
      {% end_dnd_row %}
    {% end_dnd_column %}
  {% end_dnd_section %}

{% end_dnd_area %}
{% endblock body %}
